# Permite scripts de build dos pacotes nativos/transitivos do Firebase/Next
only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild
only-built-dependencies[]=@firebase/util
only-built-dependencies[]=protobufjs
