rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    function canAccessWorkspace(workspaceId) {
      return isSignedIn() && (
        firestore.get(/databases/(default)/documents/workspaces/$(workspaceId)).data.ownerId == request.auth.uid
        || firestore.exists(/databases/(default)/documents/workspaces/$(workspaceId)/members/$(request.auth.uid))
      );
    }
    function isImageUnder5mb() {
      return request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /workspaces/{workspaceId}/{allPaths=**} {
      allow read: if canAccessWorkspace(workspaceId);
      allow write: if canAccessWorkspace(workspaceId) && isImageUnder5mb();
    }
  }
}
